.has-search .form-control {
  padding-left: 2.375rem;
  border-color: #474646;
}

.form-control:focus {
  border-color: #474646 !important;
  box-shadow: none !important;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #474646;
}
